/* .project-container {
	grid-column: 2/-1;
	display: grid;
	grid-template-columns: 0.1fr 2fr 2fr;
	margin-top: 1rem;
} */

.project-title {
	color: white;
	font-size: 2rem;
	grid-column: 1/3;
}

.content-container {
	grid-column: 1/-1;
}

.image {
	grid-column: 1/2;
	grid-row: 2;
}

.links {
	grid-column: 3;
	grid-row: 2;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	text-decoration: underline;
}

.image,
.links {
	border: 5px double #40c5d1;
	padding: 1rem;
}

.project-descr {
	color: white;
	font-size: 1.3rem;
	grid-row: 3;
	grid-column: 1/-1;
	border: 5px double #40c5d1;
	padding: 1rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	font-size: 2rem;
	color: #41c731;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.ls-resume,
	.ls-bright,
	.ls-space,
	.ls-dravo {
		font-size: 1.2rem;
	}

	.project-container {
		grid-template-rows: 0.1fr 0.1fr 0.5fr 1fr;
		grid-column: 1/-1;
	}

	.project-title {
		font-size: 1.5rem;
		grid-column: 1/3;
	}

	.left {
		grid-column: 1/-1;
		grid-row: 2;
	}

	img {
		width: 100%;
	}

	.right {
		grid-column: 1/-1;
		grid-row: 3;
	}

	.project-descr {
		grid-column: 1/-1;
		grid-row: 4;
		font-size: 1.2rem;
	}

	a {
		font-size: 1.5rem;
	}

	p {
		text-align: justify;
		text-justify: inter-word;
	}
}

/* ALL PROJECT CSS */

.project-container {
	grid-column: 2/8;
	display: grid;
	grid-template-columns: 0.1fr 2fr 2fr;
	margin-top: 1rem;
}
