.contacts-container {
	grid-column: 3/8;
	grid-row: 2;
	border: 5px double #40c5d1;
	padding: 0.5rem;
	max-height: 15rem;
	line-height: 0.7;
	margin-top: 2rem;
}

.handles {
	color: #41c731;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contacts {
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.contacts-container {
		grid-column: 1;
		justify-self: center;
		line-height: 1.5;
		width: 21rem;
		margin-top: 1rem;
	}

	.handles {
		font-size: 1.4rem;
	}
}
