/* .contacts-container {
	grid-column: 1/3;
	grid-row: 2;
	border: 5px double #40c5d1;
	padding: 1rem;
	max-height: 15rem;
	line-height: 0.7;
	margin-top: 4.9rem;
} */

.contacts-container {
	grid-column: 5;
	grid-row: 2;
	line-height: 0.6;
	margin-top: 0.5em;
	display: flex;
}

/* .contacts {
	color: white;
	text-align: center;
	font-size: 2rem;
} */

/* .handles {
	color: #41c731;
	text-align: center;
	font-size: 1.5rem;
	text-decoration: underline;
} */

a {
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0.9em 0;
}

.handles {
	color: #ceffca;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}

.handles::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.2rem;
	background-color: #e40066;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.handles:hover::after,
.handles:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

li .handles::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

li .handles:hover::after,
li .handles:focus::after {
	transform: scale(1);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	/* .contacts-container {
		grid-column: 1;
		justify-self: center;
		line-height: 1.5;
		width: 18rem;
		margin-top: 2rem;
	} */

	.contacts-container {
		grid-column: 1;
		justify-self: center;
		line-height: 1.5;
		display: block;
	}
}
