.all-projects-container {
	grid-column: 3/8;
}

.tilde-blink-container {
	display: grid;
	grid-template-columns: 0.01fr 0.01fr 0.3fr 0.1fr 0.01fr;
	grid-template-rows: 0.1fr;
	grid-gap: 0.5rem;
	align-items: center;
	margin-top: 2rem;
}

.tilde {
	grid-column: 2;
	grid-row: 1;
	color: #40c5d1;
	font-size: 1.8rem;
}

header {
	grid-column: 3/-1;
	grid-row: 1;
}

.line-1 {
	position: relative;
	top: 50%;
	border-right: 5px solid #9d9d9d;
	white-space: nowrap;
	overflow: hidden;
}

.anim-typewriter {
	animation: typewriter 4s steps(44) 1s 1 normal both,
		blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 32em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: #9d9d9d;
	}
	to {
		border-right-color: transparent;
	}
}

.login {
	color: white;
	align-self: center;
	font-size: 1.5rem;
	margin: 0;
}

.user-container {
	grid-column: 2/8;
	grid-row: 2;
	display: flex;
	flex-flow: column;
}
span {
	margin: 0;
}
/* span {
	color: #40c5d1;
	white-space: nowrap;
} */

.hidden {
	display: none;
}

.arrow {
	grid-column: 1;
	color: #41c731;
	align-self: center;
	font-size: 1.5rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.project-container {
		display: block;
	}

	.all-projects-container {
		grid-column: 1;
	}

	header {
		grid-column: 1;
	}

	.tilde-blink-container {
		margin-bottom: 1rem;
	}

	.login {
		font-size: 1.2rem;
		text-align: left;
		line-height: 1.8rem;
	}

	.anim-typewriter {
		animation: none;
	}

	.line-1 {
		white-space: break-spaces;
		position: inherit;
		top: 0;
		border-right: none;
	}
}
