header {
	grid-column: 2/9;
	grid-row: 1;
}

.login {
	color: white;
	align-self: center;
	font-size: 1.5rem;
}

.user-container {
	grid-column: 2/8;
	grid-row: 2;
	display: flex;
	flex-flow: column;
}

.cheatsheet {
	color: white;
	font-size: 1rem;
}

.cheatsheet-container {
	grid-column: 2/-1;
	grid-row: 2/-1;
	text-align: justify;
}

.cheat-text {
	color: white;
	font-size: 1.3rem;
}

span {
	color: #40c5d1;
	white-space: nowrap;
}

.in-project {
	color: #41c731;
	white-space: nowrap;
}

/* .blinking {
	width: 10px;
	height: 25px;
	overflow: hidden;
	-webkit-animation: blinking 1s infinite;
	animation: blinking 1s infinite;
}

@keyframes blinking {
	0% {
		background-color: transparent;
	}
	49% {
		background-color: transparent;
	}
	50% {
		background-color: white;
	}
} */

.hidden {
	display: none;
}

.arrow {
	grid-column: 1;
	color: #41c731;
	align-self: center;
	font-size: 1.5rem;
}

/* .tilde {
	grid-column: 2;
	color: #40c5d1;
	font-size: 1.8rem;
} */

.form-container {
	display: grid;
	grid-template-columns: 0.1fr 0.1fr 5fr;
	grid-template-rows: 0.1fr;
	align-items: center;
}

.new-form-container {
	grid-column: 2/6;
	grid-row: 4/6;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2rem 2rem 5rem;
}

form {
	grid-column: 3;
}

input {
	width: 50rem;
	background: black;
	border: black;
	color: white;
	font-family: "Cutive Mono", monospace;
	font-size: 1.5rem;
	outline: none;
}

/* input:focus {
	outline: none;
} */

.intro {
	grid-column: 2/6;
	grid-row: 3;
	color: #40c5d0;
	font-size: 1.2rem;
}

.err {
	grid-row: 2;
	grid-column: 2/-1;
	color: white;
	font-size: 1.3rem;
	align-self: center;
}

.ls-resume,
.ls-bright,
.ls-space,
.ls-dravo {
	color: white;
	font-size: 1.3rem;
	grid-column: 2/4;
}

footer {
	grid-column: 2/9;
	grid-row: -1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	header {
		grid-column: 1/-1;
	}
	.login {
		font-size: 1.2rem;
		text-align: left;
		line-height: 1.8rem;
	}

	.user-container {
		grid-column: 1/-1;
	}

	.cheatsheet-container {
		grid-column: 1/-1;
	}

	.cheat-text {
		font-size: 1.2rem;
	}

	.form-container {
		margin: 0.5rem;
	}

	.ls-resume,
	.ls-bright,
	.ls-space,
	.ls-dravo {
		font-size: 1.2rem;
	}

	input {
		font-size: 1.2rem;
	}

	.err {
		font-size: 1.2rem;
	}

	footer {
		grid-column: 1/-1;
	}
}

/* ALL PROJECTS CSS */
#root {
	display: grid;
	grid-template-columns: repeat(9, 0.5fr);
	grid-template-rows: 0.1fr 0.5fr 0.1fr;
	grid-gap: 0.5rem;
}

.all-projects-container {
	grid-column: 2/9;
}

.sandra {
	color: white;
}

.tilde-blink-container {
	display: grid;
	grid-template-columns: 0.01fr 0.01fr 0.3fr 0.1fr 0.01fr;
	grid-template-rows: 0.1fr;
	grid-gap: 0.5rem;
	align-items: center;
	margin-top: 2rem;
}

.welcome-message {
	color: white;
	font-size: 1.5rem;
	grid-column: 2/5;
	grid-row: 1;
}

.blinking {
	grid-column: 4;
	grid-row: 1;
	margin-left: 1.2rem;
	width: 10px;
	height: 25px;
	overflow: hidden;
	-webkit-animation: blinking 1s infinite;
	animation: blinking 1s infinite;
}

@keyframes blinking {
	0% {
		background-color: transparent;
	}
	49% {
		background-color: transparent;
	}
	50% {
		background-color: white;
	}
}

.tilde {
	grid-column: 2;
	grid-row: 1;
	color: #40c5d1;
	font-size: 1.8rem;
}
